.error-state,
.empty-state,
app-loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 100dvh;

    .ph {
        font-size: 40px;
    }

    .ph-warning {
        color: var(--error-color);
    }

    .ph-calendar-x{
        color: var(--empty-state-color);
    }
}

.main-heading {
    padding: 45px 0;
    text-align: center;
}

.highlight-button {
    display: block;
    margin-left: auto;
    background-color: #f59e0b;
    font-weight: 600;
    padding: 13px 20px;
    border: none;
    outline: none;
    cursor: pointer;
}