<section class="main-container">
    <div class="header-content" [style.backgroundColor]="leagueColor()">
        <p class="league-title">({{leagueGroup().sportName}}) {{leagueGroup().regionName}} - {{ leagueGroup().leagueName }}</p>
        <button class="toggle-button" (click)="toggleCollapsed()">
            <i class="ph" 
               [class.ph-caret-up]="!isCollapsed()" 
               [class.ph-caret-down]="isCollapsed()">
            </i>
        </button>
    </div>
    @if (!isCollapsed()) {
        <div class="table-wrapper">
            <table class="matches-table">
                <thead>
                    <tr>
                        <th class="col-date"></th>
                        <th class="col-match"></th>
                        @for (type of tipTypes; track type) {
                            <th class="col-odd">{{type}}</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (match of leagueGroup().matches; track match.id) {
                        <tr>
                            <td class="col-date">{{match.date | date : 'd.M. HH:mm'}}</td>
                            <td class="col-match">{{match.name}}</td>
                            @for (type of tipTypes; track type) {
                                <td class="col-odd">{{match.odds[type]?.rate ?? '-'}}</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</section>