:root {
    --error-color: #dc2626;
    --empty-state-color: #958b8b;
    --loader-color: #2563eb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: #FAFAF8;
    padding: 0 55px;

    @media (max-width: 768px) {
        padding: 0;
    }
}